attrs==23.2.0
Babel==2.10.3
bcrypt==3.2.2
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.6
coverage==7.4.4
cryptography==41.0.7
idna==3.10
iniconfig==2.1.0
mock==5.2.0
numpy==1.26.4
packaging==24.2
pluggy==1.5.0
pycparser==2.22
pytest==7.4.4
pytz==2025.2
requests==2.31.0
urllib3==2.3.0
